@import "topbar";
@import "content";

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f6f6f6;
  color: #333;
  -webkit-font-smoothing: antialiased;

  .wrapper {
    display: block;
    height: 100%;
    .content-container {
      box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
      padding-bottom: 2em;
    }
  }
}