.topbar {
  display: block;
  padding: 0;
  height: 70px;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  background-color: #20272a;
  color: #F7F7F7;
  font-size: 28px;
  font-weight: 600;
}